<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="/products"  method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <input type="number" placeholder="price" name="price">
        <br>
        <input type="image" placeholder="image" name="image" >
        <br>
        <input type="text" placeholder="descreiption" name="desc">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>